* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    position: relative;
}

.mag-162 {
    margin: 0 162px;
}

.pad-120 {
    padding: 120px 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
    color: #ffffff;
}

.kumbh-font {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-family: Kumbh Sans;
}

@media screen and (min-width: 1920px) {

    .header-web {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .sub-header {
        width: 100%;
        padding: 20px 24px;
        background-color: #141414;
        border-bottom: 1px solid #262626;
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .header-container {
        background-color: #1A1A1A;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #262626;
        align-items: center;
        padding: 24px 162px;
    }

    .sub-header span {
        color: #98989a;
        display: inline-block;
        font-style: normal;
        line-height: 150%;
        letter-spacing: -3%;
    }

    .sub-header img {
        height: 16.5px;
        width: 16.5px;
        margin: 3.75px;
    }


    .header-web .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .header-web .logo img {
        height: 50px;
        width: 50px;
    }

    .header-web .logo p {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -3%;
    }

    .header-web ul li {
        display: inline-block;
        color: #7E7E81;
    }

    .header-web .menu {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .header-web button {
        padding: 14px 20px;
        border-radius: 10px;
        background-color: #FFD11A;
        color: #141414;
    }

    .header-container ul li:last-child {
        border: 1px solid #333333;
        background-color: #141414;
        padding: 14px 24px;
        display: block;
        border-radius: 10px;
        color: #ffffff;
    }

    .body-web {
        margin-top: 170px;
    }

    .hero-section {
        padding: 130px 0;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .hero-section .heading {
        font-size: 80px;
        line-height: 130%;
        letter-spacing: -3%;
    }


    .hero-section .text-container {
        display: flex;
        align-items: center;
        gap: 80px;
    }

    .hero-section .text-container p {
        line-height: 150%;
        letter-spacing: -3%;
        padding: 25px 0;
        color: #98989A;
    }

    .reputation-container {
        display: flex;
        padding: 80px 0;
        border: 1px solid #262626;
    }

    .reputation-container .block {
        height: 100%;
        border-right: #262626 1px solid;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
    }

    .block:last-child {
        border: none;
    }

    .reputation-container .block span {
        color: #FFD11A;
    }

    .reputation-container .block .number {
        font-weight: 600;
        font-style: Bold;
        font-size: 50px;
        line-height: 150%;
        letter-spacing: -3%;
        color: #ffffff;
    }

    .reputation-container .block .text {
        line-height: 150%;
        letter-spacing: -3%;
        color: #98989A;
    }

    .detail {
        background-color: #1A1A1A;
    }

    .detail-container {
        position: relative;
        display: flex;
        gap: 16px;
        padding: 120px 0;
        color: #ffffff;
    }

    .tittle-container {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .tittle-container .text {
        font-size: 20px;
        line-height: 150%;
        letter-spacing: -3%;
        background-color: #333333;
        max-width: 180px;
    }

    .tittle-container .heading {
        font-size: 58px;
        line-height: 130%;
        letter-spacing: -3%;
    }


    .button-container {
        padding: 10px;
        width: 495px;
        border: 1px solid #262626;
        position: absolute;
        right: 0;
    }

    .button-container .sub-container {
        display: flex;
        gap: 10px;
        height: 100%;
        align-items: center;
    }

    .button-container .btn-block {
        flex: 1;
        text-align: center;
        padding: 18px 38px;
        border: 1px solid #262626;
        border-radius: 10px;
        color: #98989A;
    }

    .button-container .btn-block:first-child {
        background-color: #262626;
        color: #ffffff;
    }

    .section-container {
        display: flex;
        color: #ffffff;
    }

    .description-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .description-container .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .description-container .container p {
        line-height: 150%;
        letter-spacing: -3%;
        color: #98989A;
    }

    .description-container .container .heading {
        font-weight: 600;
        font-size: 40px;
        line-height: 150%;
        letter-spacing: -3%;
        color: #ffffff;
    }


    .section-container .description-container {
        padding: 233px 80px 233px 0;
        width: 37%;
    }

    .section-container .img-container {
        width: 63%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 80px 0 80px 80px;
    }

    .img-container .sub-container {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .img-container .sub-container img {
        border-radius: 12px;
    }

    .img-container .sub-container .content {
        display: flex;
        gap: 30px;
    }

    .img-container .content .heading {
        font-weight: 600;
        font-weight: 600;
        font-size: 26px;
    }

    .img-container .content p:last-child {
        color: #98989A;
    }

    .img-container .sub-container .container {
        width: 72.5%;
        display: flex;
        gap: 14px;
        flex-direction: column;
    }

    .img-container .sub-container .download-container {
        padding: 22px 0;
        width: 27.5%;
    }


    .img-container .sub-container .download-btn {
        display: flex;
        gap: 10px;
        background-color: #1A1A1A;
        color: #98989A;
        padding: 18px 24px;
        border-radius: 8px;
        border: 1px solid #262626;
    }

    .info-container {
        display: flex;
        gap: 20px;
    }

    .info-container div {
        padding: 30px;
        display: flex;
        flex-direction: column;
        border-radius: 13px;
        gap: 4px;
        border: 1px solid #262626;
        background-color: #1A1A1A;
        width: 33.33%;
    }

    .info-container div p:first-child {
        color: #98989A;
    }

    .info-container div p:last-child {
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
    }

    .sidebar {
        border-top: 1px solid #262626;
        border-bottom: 1px solid #262626;
    }

    .sidebar-container {
        display: flex;
    }


    .sidebar-container .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 80px 46px;
        border-right: 1px solid #262626;
    }

    .sidebar-container .container:last-child {
        border: none;
    }

    .sidebar-container .container:first-child {
        padding: 80px 46px 80px 0;
    }

    .sidebar-container .container:last-child {
        padding: 80px 0 80px 46px;
    }

    .sidebar .text-block {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .sidebar .text-block p:last-child {
        color: #98989A;
    }

    .sidebar .btn-block {
        color: #98989A;
    }

    .sidebar .text-block p:first-child {
        font-weight: 600;
        font-size: 22px;
    }

    .sidebar .btn-block {
        display: flex;
        gap: 20px;
    }

    .sidebar .btn-block button {
        width: 50%;
        border-radius: 8px;
        padding: 18px 24px;
        border: 1px solid #262626;
        background-color: #141414;
    }

    .cta-section {
        background-color: #1A1A1A;
    }

    .cta-section>div {
        display: flex;
        gap: 100px;
        flex-direction: column;
        background-color: #1A1A1A;
    }

    .cta-section .text-container {
        display: flex;
        gap: 80px;
    }

    .cta-section .text-container .text-block {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .cta-section img {
        width: 150px;
        height: 150px;
    }

    .cta-section .text-container .text-block>div {
        border-radius: 4px;
        padding: 6px 10px;
        font-weight: 500;
        font-size: 20px;
        background-color: #333333;
        width: fit-content;
        line-height: 130%;
        letter-spacing: -3%;
    }

    .cta-section .text-container p:first-of-type {
        font-weight: 500;
        font-size: 58px;
        line-height: 130%;
        letter-spacing: -3%;
    }

    .cta-section .text-container p:last-of-type {
        color: #7E7E81;
    }

    .cta-section .cta-container .text-block {
        background-color: #1A1A1A;
        position: relative;
        padding: 9.5px 0;
    }

    .cta-section .cta-container svg {
        position: absolute;
        right: 0;
        top: 0;
    }

    .cta-section .sub-container {
        padding: 40px;
        background-color: #1A1A1A;
        display: flex;
        gap: 20px;
        flex-direction: column;
        flex: 1;
        border: 1px solid #262626;
        border-radius: 12px;
    }

    .cta-section .sub-container .text-block>p {
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: -3%;
    }

    .cta-section .sub-container>p {
        color: #98989A;
    }

    .cta-section .cta-container {
        display: flex;
        gap: 20px;
        padding: 20px;
        background-color: #141414;
    }

    .footer-top {
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        gap: 80px;
    }

    .footer-colunm {
        display: flex;
        flex-direction: column;
        gap: 36px;
        flex: 1;
    }

    .footer-colunm p {
        font-weight: 500;
        font-size: 20px;
    }

    .footer-colunm ul {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .footer-colunm ul li {
        color: #666666;
    }

    .footer-colunm:last-child ul li {
        border: 1px solid #262626;
        padding: 10px 16px;
        gap: 10px;
        border-radius: 8px;
        width: fit-content;
                display: flex;
    }

    .tag-container {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .footer-colunm .new-tag {
        padding: 4px 12px;
        border-radius: 6px;
        background-color: #1A1A1A;
        border: 1px solid transparent;
        background-image: linear-gradient(#1A1A1A, #1A1A1A),
            linear-gradient(70.33deg, #262626 61.2%, #FFD119 216.15%);
        s background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
    }
}